{% extends "base.html" %}
{% block content %}
    <div class="myDiv">

        <table align="center">
            <tr>
                <td align="center"><img src="../static/beer.png" width="20" height="40"></td>
                <td align="center" class="display-6 text-light">&nbsp&nbspThe Beer Scoreboard&nbsp&nbsp&nbsp</td>
                <td align="center"><img src="../static/beer.png" width="20" height="40"></td>
            </tr>
        </table>
        <hr style="color:bisque">
        <table width="100%" align="center">
            <tr>
                <th class="left-th"><span class="badge bg-secondary text-light">Race</span></th>
                <th><span class="badge bg-danger">Greg&nbsp</span></th>
                <th><span class="badge bg-danger">Bob&nbsp&nbsp</span></th>
            </tr>
            {% for b in betting_summary.list_of_individual_bets %}
                <tr>
                    <td style="color: #FFB500" class="left-td"><span class="badge bg-dark ">{{ b.race_name[0:8] }}:&nbsp</span>
                    </td>
                    <td> <span
                            class="badge {{b.greg.badge_color}}">{{ b.greg.driver_name }}
                        {% if b.greg.finish == 0 %}
                            N/A
                        {% else %}
                            &nbsp/&nbsp{{ b.greg.finish }}
                        {% endif %}</span>
                        {% if b.greg.beer == 1 %}
                            <img src="../static/beer.png" width="10" height="20">
                        
                        {% endif %}
                        {% if b.greg.beer == 2 %}
                                <img src="../static/beer.png" width="10" height="20">
                                <img src="../static/beer.png" width="10" height="20">
                            </td>
                        {% endif %}
                    </td>
                    <td><span
                            class="badge {{b.bob.badge_color}}">{{ b.bob.driver_name }}
                        {% if b.bob.finish == 0 %}
                            N/A
                        {% else %}
                            &nbsp/&nbsp{{ b.bob.finish }}
                        {% endif %}</span>
                        {% if b.bob.beer == 1 %}
                            <img src="../static/beer.png" width="10" height="20">
                        {% endif %}
                        {% if b.bob.beer == 2 %}
                                <img src="../static/beer.png" width="10" height="20">
                                <img src="../static/beer.png" width="10" height="20">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="left-th"><span class="badge bg-danger align-center">Cooler:</span></td>
                <td style="font-weight: bolder; font-size: larger"><span
                        class="badge bg-danger align-center">{{ betting_summary.total_beers_owed['Greg'] }}</span>
                    {% for x in range(betting_summary.total_beers_owed['Greg']) %}
                        <img src="../static/beer.png" width="10" height="20">
                    {% endfor %}

                </td>
                <td style="font-weight: bolder; font-size: larger">
                <span class="badge bg-danger align-center">
                {{ betting_summary.total_beers_owed['Bob'] }}</span>
                    {% for x in range(betting_summary.total_beers_owed['Bob']) %}
                        <img src="../static/beer.png" width="10" height="20">
                    {% endfor %}
                </td>
            </tr>
            {% for t in team_summary %}
                <tr>
                    <td style="color: #FFB500" class="left-td"><span class="badge bg-dark ">{{ t.race_name }}:</span>
                    </td>
                    <td><span class="badge bg-warning text-dark">Penske / {{ t['Penske'] }}</span>
                        {% if t['Greg'] %}
                            <img src="../static/beer.png" width="10" height="20">
                        {% endif %}
                    </td>
                    <td><span class="badge bg-warning text-dark">Gibbs / {{ t['Gibbs'] }}</span>
                        {% if t['Bob'] %}
                            <img src="../static/beer.png" width="10" height="20">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr style="color:white">
        <table align="center">
            <tr>
                <td>
                    <blockquote class="blockquote text-light align-center">
                        <p><h6>Greg owes 1 <img src="../static/beer.png" width="10" height="20"> to Sweeney</h6></p>
                        <p><h6>Greg owes one beer, non-payment interest to Bob &nbsp;<img src="../static/beer.png" width="10" height="20">
                        <p><h6>Bob's 2022 Cooler <img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20">
                        <p><h6>Bob's 2021 Cooler <img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20"><img src="../static/beer.png" width="10" height="20">
                    </h6></p>
                    </blockquote>
                </td>
            </tr>
        </table>
        <h6 class="text-light" align="right">Powered by a Python ~~~~~~~``</h6>
    </div>
{% endblock %}
